#### Importing all the required Liberaries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from lxml import etree as et

## 1. Display all the header tags

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
print(page.status_code)
soup = BeautifulSoup(page.text, 'html.parser')
print(soup.find_all('h2', class_ = 'mp-h2')[1].get_text())
headers = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *headers, sep='\n\n')

200
Did you know ...
List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [4]:
for i in headers:
    print(i.text)

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Navigation


Contribute


Tools


Print/export


In other projects


Languages

## 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [5]:
imbd = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')  # Make a request to a web page with requests module    
print(imbd.status_code) #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity
soup = BeautifulSoup(imbd.text, 'html.parser') # pulling data out of HTML and XML files with BeautifulSoup

200

In [169]:
year = soup.find_all('span', class_ = 'lister-item-year text-muted unbold')
years = [x.text for x in year]
year = pd.DataFrame(years, columns = ['Year'])
year

      Year
0   (1994)
1   (1972)
2   (2008)
3   (2003)
4   (1993)
5   (1974)
6   (1957)
7   (1994)
8   (2010)
9   (2002)
10  (1999)
11  (2001)
12  (1994)
13  (1966)
14  (1999)
15  (1990)
16  (1980)
17  (1975)
18  (2014)
19  (2002)
20  (2001)
21  (1998)
22  (1999)
23  (1997)
24  (1995)
25  (1991)
26  (1991)
27  (1977)
28  (1962)
29  (1954)
30  (1946)
31  (2019)
32  (2014)
33  (2011)
34  (2006)
35  (2006)
36  (2002)
37  (2000)
38  (1998)
39  (1995)
40  (1994)
41  (1994)
42  (1988)
43  (1988)
44  (1985)
45  (1979)
46  (1979)
47  (1968)
48  (1960)
49  (1954)

In [170]:
rating = soup.find_all('div', class_ = 'ratings-imdb-rating')
rating = [x.text.strip() for x in rating]
rating = pd.DataFrame(rating, columns= ['Rating'])
rating

   Rating
0     9.3
1     9.2
2     9.0
3     9.0
4     9.0
5     9.0
6     9.0
7     8.9
8     8.8
9     8.8
10    8.8
11    8.8
12    8.8
13    8.8
14    8.7
15    8.7
16    8.7
17    8.7
18    8.6
19    8.6
20    8.6
21    8.6
22    8.6
23    8.6
24    8.6
25    8.6
26    8.6
27    8.6
28    8.6
29    8.6
30    8.6
31    8.5
32    8.5
33    8.5
34    8.5
35    8.5
36    8.5
37    8.5
38    8.5
39    8.5
40    8.5
41    8.5
42    8.5
43    8.5
44    8.5
45    8.5
46    8.5
47    8.5
48    8.5
49    8.5

In [174]:
results = soup.find_all('h3')
title = [x.text.strip() for x in results]
#pd.DataFrame(data['Title'].values.tolist(), index=data.index)
Title = pd.DataFrame(title, columns = ['Title'])
Title

                                                Title
0                1.\nThe Shawshank Redemption\n(1994)
1                           2.\nThe Godfather\n(1972)
2                         3.\nThe Dark Knight\n(2008)
3   4.\nThe Lord of the Rings: The Return of the K...
4                        5.\nSchindler's List\n(1993)
5                   6.\nThe Godfather Part II\n(1974)
6                            7.\n12 Angry Men\n(1957)
7                            8.\nPulp Fiction\n(1994)
8                               9.\nInception\n(2010)
9   10.\nThe Lord of the Rings: The Two Towers\n(2...
10                            11.\nFight Club\n(1999)
11  12.\nThe Lord of the Rings: The Fellowship of ...
12                          13.\nForrest Gump\n(1994)
13       14.\nIl buono, il brutto, il cattivo\n(1966)
14                            15.\nThe Matrix\n(1999)
15                            16.\nGoodfellas\n(1990)
16               17.\nThe Empire Strikes Back\n(1980)
17       18.\nOne Flew Over the Cuckoo's Nest\n(1975)
18                          19.\nInterstellar\n(2014)
19                        20.\nCidade de Deus\n(2002)
20         21.\nSen to Chihiro no kamikakushi\n(2001)
21                   22.\nSaving Private Ryan\n(1998)
22                        23.\nThe Green Mile\n(1999)
23                       24.\nLa vita è bella\n(1997)
24                                 25.\nSe7en\n(1995)
25            26.\nTerminator 2: Judgment Day\n(1991)
26              27.\nThe Silence of the Lambs\n(1991)
27                             28.\nStar Wars\n(1977)
28                               29.\nSeppuku\n(1962)
29                  30.\nShichinin no samurai\n(1954)
30                 31.\nIt's a Wonderful Life\n(1946)
31                          32.\nGisaengchung\n(2019)
32                              33.\nWhiplash\n(2014)
33                      34.\nThe Intouchables\n(2011)
34                          35.\nThe Prestige\n(2006)
35                          36.\nThe Departed\n(2006)
36                           37.\nThe Pianist\n(2002)
37                             38.\nGladiator\n(2000)
38                    39.\nAmerican History X\n(1998)
39                    40.\nThe Usual Suspects\n(1995)
40                                  41.\nLéon\n(1994)
41                         42.\nThe Lion King\n(1994)
42                 43.\nNuovo Cinema Paradiso\n(1988)
43                        44.\nHotaru no haka\n(1988)
44                    45.\nBack to the Future\n(1985)
45                        46.\nApocalypse Now\n(1979)
46                                 47.\nAlien\n(1979)
47          48.\nOnce Upon a Time in the West\n(1968)
48                                49.\nPsycho\n(1960)
49                           50.\nRear Window\n(1954)
50                                    Recently Viewed

In [175]:
Title = Title['Title'].str.split('\n', expand=True)
Title.rename(columns = {1 : 'Title'}, inplace = True)         #rename column name   
Title = Title.iloc[:50,1:2]                                   #slicing the data with iloc
Title

                                                Title
0                            The Shawshank Redemption
1                                       The Godfather
2                                     The Dark Knight
3       The Lord of the Rings: The Return of the King
4                                    Schindler's List
5                               The Godfather Part II
6                                        12 Angry Men
7                                        Pulp Fiction
8                                           Inception
9               The Lord of the Rings: The Two Towers
10                                         Fight Club
11  The Lord of the Rings: The Fellowship of the Ring
12                                       Forrest Gump
13                    Il buono, il brutto, il cattivo
14                                         The Matrix
15                                         Goodfellas
16                            The Empire Strikes Back
17                    One Flew Over the Cuckoo's Nest
18                                       Interstellar
19                                     Cidade de Deus
20                      Sen to Chihiro no kamikakushi
21                                Saving Private Ryan
22                                     The Green Mile
23                                    La vita è bella
24                                              Se7en
25                         Terminator 2: Judgment Day
26                           The Silence of the Lambs
27                                          Star Wars
28                                            Seppuku
29                               Shichinin no samurai
30                              It's a Wonderful Life
31                                       Gisaengchung
32                                           Whiplash
33                                   The Intouchables
34                                       The Prestige
35                                       The Departed
36                                        The Pianist
37                                          Gladiator
38                                 American History X
39                                 The Usual Suspects
40                                               Léon
41                                      The Lion King
42                              Nuovo Cinema Paradiso
43                                     Hotaru no haka
44                                 Back to the Future
45                                     Apocalypse Now
46                                              Alien
47                       Once Upon a Time in the West
48                                             Psycho
49                                        Rear Window

In [176]:
data =  pd.concat([Title, year, rating], axis=1, join="inner")    #aggregation into 1
data

                                                Title    Year Rating
0                            The Shawshank Redemption  (1994)    9.3
1                                       The Godfather  (1972)    9.2
2                                     The Dark Knight  (2008)    9.0
3       The Lord of the Rings: The Return of the King  (2003)    9.0
4                                    Schindler's List  (1993)    9.0
5                               The Godfather Part II  (1974)    9.0
6                                        12 Angry Men  (1957)    9.0
7                                        Pulp Fiction  (1994)    8.9
8                                           Inception  (2010)    8.8
9               The Lord of the Rings: The Two Towers  (2002)    8.8
10                                         Fight Club  (1999)    8.8
11  The Lord of the Rings: The Fellowship of the Ring  (2001)    8.8
12                                       Forrest Gump  (1994)    8.8
13                    Il buono, il brutto, il cattivo  (1966)    8.8
14                                         The Matrix  (1999)    8.7
15                                         Goodfellas  (1990)    8.7
16                            The Empire Strikes Back  (1980)    8.7
17                    One Flew Over the Cuckoo's Nest  (1975)    8.7
18                                       Interstellar  (2014)    8.6
19                                     Cidade de Deus  (2002)    8.6
20                      Sen to Chihiro no kamikakushi  (2001)    8.6
21                                Saving Private Ryan  (1998)    8.6
22                                     The Green Mile  (1999)    8.6
23                                    La vita è bella  (1997)    8.6
24                                              Se7en  (1995)    8.6
25                         Terminator 2: Judgment Day  (1991)    8.6
26                           The Silence of the Lambs  (1991)    8.6
27                                          Star Wars  (1977)    8.6
28                                            Seppuku  (1962)    8.6
29                               Shichinin no samurai  (1954)    8.6
30                              It's a Wonderful Life  (1946)    8.6
31                                       Gisaengchung  (2019)    8.5
32                                           Whiplash  (2014)    8.5
33                                   The Intouchables  (2011)    8.5
34                                       The Prestige  (2006)    8.5
35                                       The Departed  (2006)    8.5
36                                        The Pianist  (2002)    8.5
37                                          Gladiator  (2000)    8.5
38                                 American History X  (1998)    8.5
39                                 The Usual Suspects  (1995)    8.5
40                                               Léon  (1994)    8.5
41                                      The Lion King  (1994)    8.5
42                              Nuovo Cinema Paradiso  (1988)    8.5
43                                     Hotaru no haka  (1988)    8.5
44                                 Back to the Future  (1985)    8.5
45                                     Apocalypse Now  (1979)    8.5
46                                              Alien  (1979)    8.5
47                       Once Upon a Time in the West  (1968)    8.5
48                                             Psycho  (1960)    8.5
49                                        Rear Window  (1954)    8.5

### Scraping Page 2

In [210]:
imbd_2 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
#print(imbd_2.status_code)
soup_2 = BeautifulSoup(imbd_2.text, 'html.parser')
year = soup_2.find_all('span', class_ = 'lister-item-year text-muted unbold')
years = [x.text for x in year]
year = pd.DataFrame(years, columns = ['Year'])
rating = soup_2.find_all('div', class_ = 'ratings-imdb-rating')
rating = [x.text.strip() for x in rating]
rating = pd.DataFrame(rating, columns= ['Rating'])
results = soup_2.find_all('h3')
title = [x.text.strip() for x in results]
#pd.DataFrame(data['Title'].values.tolist(), index=data.index)
Title = pd.DataFrame(title, columns = ['Title'])
Title = Title['Title'].str.split('\n', expand=True)
Title.rename(columns = {1 : 'Title'}, inplace = True)    
Title = Title.iloc[:50,1:2]

In [218]:
data_2 =  pd.concat([Title, year, rating], axis=1, join="inner")
Top_100_movies = pd.concat([data, data_2], axis = 0)
Top_100_movies

                                            Title    Year Rating
0                        The Shawshank Redemption  (1994)    9.3
1                                   The Godfather  (1972)    9.2
2                                 The Dark Knight  (2008)    9.0
3   The Lord of the Rings: The Return of the King  (2003)    9.0
4                                Schindler's List  (1993)    9.0
..                                            ...     ...    ...
45                             North by Northwest  (1959)    8.3
46                                        Vertigo  (1958)    8.3
47                            Singin' in the Rain  (1952)    8.3
48                                   Citizen Kane  (1941)    8.3
49              M - Eine Stadt sucht einen Mörder  (1931)    8.3

[100 rows x 3 columns]