### Importing all neccesaary Liberaries

In [118]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [119]:
dine = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en') # Make a request to a web page with requests module
dine.status_code #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity

200

In [120]:
soup = BeautifulSoup(dine.text, 'html.parser')

In [121]:
name = soup.find_all('td', class_ = 'gsc_mvt_t')

In [123]:
name = pd.DataFrame([x.text for x in name], columns = ['Name'])

In [124]:
index = soup.find_all('a', class_='gs_ibl gsc_mp_anchor')

In [125]:
h5_index = pd.DataFrame([x.text for x in index], columns = ['h5_index'])

In [126]:
h5_index

   h5_index
0       444
1       432
2       401
3       389
4       354
..      ...
95      145
96      145
97      145
98      144
99      144

[100 rows x 1 columns]

In [127]:
h5 = soup.find_all('span', class_ = 'gs_ibl gsc_mp_anchor')

In [128]:
h5 = pd.DataFrame([x.text for x in h5], columns = ['h5_median'])

In [129]:
rank = soup.find_all('td', class_ = 'gsc_mvt_p')
rank = pd.DataFrame([x.text for x in rank], columns = ['rank'])

In [138]:
google_scholar = pd.concat([rank, name, h5, h5_index ], axis = 1)

In [140]:
google_scholar = google_scholar.set_index('rank')
google_scholar

                                                   Name h5_median h5_index
rank
1.                                               Nature       667      444
2.                  The New England Journal of Medicine       780      432
3.                                              Science       614      401
4.    IEEE/CVF Conference on Computer Vision and Pat...       627      389
5.                                           The Lancet       635      354
...                                                 ...       ...      ...
96.                        Journal of Business Research       233      145
97.                                    Molecular Cancer       209      145
98.                                             Sensors       201      145
99.                               Nature Climate Change       228      144
100.                    IEEE Internet of Things Journal       212      144

[100 rows x 3 columns]