In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import pandas as pd
import numpy as np
import time

### 
Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the

In [31]:
driver = webdriver.Chrome(r'chromedriver.exe')
driver.get('https://www.motor1.com/')

click = driver.find_element(By.CLASS_NAME, "m1-hamburger-button")
click.click()

#dropdown = driver.find_element(By.XPATH, '//button[@class="dropdown-toggle"]')
#dropdown.click()
time.sleep(5)
features = driver.find_element(By.XPATH, '/html/body/div[4]/div[1]/div[3]/ul/li[5]')
features.click()

time.sleep(5)

most_exp = driver.find_element(By.XPATH, '/html/body/div[3]/div[8]/div/div[1]/div[1]/div[2]/a/picture/img')
most_exp.click()


#lists = driver.find_element(By.XPATH, '/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a')
#lists.click()

In [53]:
lists = []

for i in range(1,2):
    name = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
    #price = driver.find_elements(By.XPATH, '')

In [57]:
price = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong')

In [60]:
[i.text for i in price]

[]

In [56]:
pd.DataFrame([i.text for i in name])

                                   0
0                          Drako GTE
1                      De Tomaso P72
2                  Ferrari LaFerrari
3                      Pagani Huayra
4                       McLaren Elva
5                        Czinger 21C
6                      Ferrari Monza
7                 Gordon Murray T.33
8                  Koenigsegg Gemera
9                        Zenvo TSR-S
10                Hennessey Venom F5
11                   Bentley Bacalar
12     Hispano Suiza Carmen Boulogne
13            Bentley Mulliner Batur
14                      Deus Vayanne
15                       SSC Tuatara
16                       Lotus Evija
17               Aston Martin Vulcan
18                        Delage D12
19                 McLaren Speedtail
20                      Rimac Nevera
21                     Pagani Utopia
22              Pininfarina Battista
23                 Ferrari FXX K Evo
24                Gordon Murray T.50
25              Lamborghini Countach
26          Mercedes-AMG Project One
27               Aston Martin Victor
28       Hennessey Venom F5 Roadster
29                  Koenigsegg Jesko
30             Aston Martin Valkyrie
31         W Motors Lykan Hypersport
32                     McLaren Solus
33         Pagani Huayra Roadster BC
34          Bugatti Chiron Pur Sport
35                  Lamborghini Sian
36                  Koenigsegg CC850
37   Bugatti Chiron Super Sport 300+
38                Lamborghini Veneno
39                    Bugatti Bolide
40                   Bugatti Mistral
41               Pagani Huayra Imola
42                      Bugatti Divo
43               SP Automotive Chaos
44                  Pagani Codalunga
45          Mercedes-Maybach Exelero
46                Bugatti Centodieci
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World

In [32]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'lxml')
title = soup.find_all('p')
data = pd.DataFrame(title, columns = ['Description'])[4:50]

In [61]:
data

                                          Description
4                             [[Price: $1.2 Million]]
5   [The Drako GTE is a super sedan in every sense...
6                             [[Price: $1.3 Million]]
7   [The , [De Tomaso P72],  is basically the defi...
8                             [[Price: $1.4 Million]]
9   [At $1.4 million new, the Ferrari LaFerrari is...
10                            [[Price: $1.4 Million]]
11  [Inarguably one of the prettiest cars on this ...
12                            [[Price: $1.7 Million]]
13  [The , [McLaren Elva],  is one of the latest a...
14                            [[Price: $1.7 Million]]
15  [You might not know the name Czinger yet, but ...
16                            [[Price: $1.7 Million]]
17  [Much like the roof-less McLaren Elva, the , [...
18                            [[Price: $1.7 Million]]
19  [The second and slightly more affordable super...
20                            [[Price: $1.7 Million]]
21  [One of two , [Koenigsegg],  models on this li...
22                            [[Price: $1.7 Million]]
23  [Hailing from Denmark, the Zenvo TSR-S debuted...
24                            [[Price: $1.8 Million]]
25  [The Hennessey Venom GT was a record-breaker, ...
26                            [[Price: $1.9 Million]]
27  [With just 12 total units produced, the , [Ben...
28                            [[Price: $1.9 Million]]
29  [To call the Hispano Suiza Carmen Boulogne bea...
30                            [[Price: $2.0 Million]]
31  [The electric onslaught is coming. Bentley say...
32                            [[Price: $2.0 Million]]
33  [The Deus Vayanne may not be a household name ...
34                           [[Price: $2.0 Million*]]
35  [Although initially cloaked in controversy, SS...
36                            [[Price: $2.1 Million]]
37  [With a new , [Emira],  sports car and an , [E...
38                            [[Price: $2.3 Million]]
39  [As with a few other cars on this list, the As...
40                            [[Price: $2.3 Million]]
41  [You may have heard of , [Delage],  before. In...
42                            [[Price: $2.3 Million]]
43  [What would you pay for the fastest production...
44                            [[Price: $2.4 Million]]
45  [The Rimac Nevera takes the title of most expe...
46                            [[Price: $2.5 Million]]
47  [First came the Zonda, then the Huayra, and no...
48                            [[Price: $2.5 Million]]
49  [Aptly named after the company’s founder, Batt...