### 
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [3]:
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [40]:
driver = webdriver.Chrome(r'chromedriver.exe')
driver.get('https://www.flipkart.com/')
search = driver.find_element(By.CLASS_NAME, '_3704LK')
search.send_keys('sneakers')
button = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
button.click()

In [46]:
element_list = []

for i in range(1,4):
    brand = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    price = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    desc = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    
    for i in range(len(brand)):
        element_list.append([brand[i].text, price[i].text])
print(element_list)        
driver.close()

[['ANTA', '₹4,509'], ['RapidBox', '₹599'], ['Labbin', '₹399'], ['Shozie', '₹299'], ['Kzaara', '₹229'], ['SFR', '₹199'], ['SFR', '₹299'], ['RapidBox', '₹580'], ['aadi', '₹359'], ['BRUTON', '₹299'], ['Shozie', '₹419'], ['Lavista', '₹569'], ['BRUTON', '₹581'], ['SFR', '₹269'], ['Magnolia', '₹389'], ['Mast & Harbour', '₹824'], ['SCATCHITE', '₹360'], ['Kraasa', '₹299'], ['Rzisbo', '₹549'], ['asian', '₹842'], ['TR', '₹499'], ['Asian Shoes', '₹449'], ['Bond Street By Red Tape', '₹1,324'], ['U.S. POLO ASSN.', '₹1,359'], ['Kraasa', '₹449'], ['SFR', '₹299'], ['World Wear Footwear', '₹259'], ['U.S. POLO ASSN.', '₹1,739'], ['Labbin', '₹399'], ['Robbie jones', '₹439'], ['GVR', '₹597'], ['CAMPUS', '₹1,899'], ['asian', '₹657'], ['TR', '₹299'], ['Deals4you', '₹299'], ['U.S. POLO ASSN.', '₹1,934'], ['HOTSTYLE', '₹298'], ['NIKE', '₹3,707'], ['PUMA', '₹1,919'], ['PUMA', '₹3,499'], ['ANTA', '₹4,509'], ['RapidBox', '₹599'], ['Labbin', '₹399'], ['Shozie', '₹299'], ['Kzaara', '₹229'], ['SFR', '₹199'], ['SFR', '₹299'], ['RapidBox', '₹580'], ['aadi', '₹359'], ['BRUTON', '₹299'], ['Shozie', '₹419'], ['Lavista', '₹569'], ['BRUTON', '₹581'], ['SFR', '₹269'], ['Magnolia', '₹389'], ['Mast & Harbour', '₹824'], ['SCATCHITE', '₹360'], ['Kraasa', '₹299'], ['Rzisbo', '₹549'], ['asian', '₹842'], ['TR', '₹499'], ['Asian Shoes', '₹449'], ['Bond Street By Red Tape', '₹1,324'], ['U.S. POLO ASSN.', '₹1,359'], ['Kraasa', '₹449'], ['SFR', '₹299'], ['World Wear Footwear', '₹259'], ['U.S. POLO ASSN.', '₹1,739'], ['Labbin', '₹399'], ['Robbie jones', '₹439'], ['GVR', '₹597'], ['CAMPUS', '₹1,899'], ['asian', '₹657'], ['TR', '₹299'], ['Deals4you', '₹299'], ['U.S. POLO ASSN.', '₹1,934'], ['HOTSTYLE', '₹298'], ['NIKE', '₹3,707'], ['PUMA', '₹1,919'], ['PUMA', '₹3,499'], ['ANTA', '₹4,509'], ['RapidBox', '₹599'], ['Labbin', '₹399'], ['Shozie', '₹299'], ['Kzaara', '₹229'], ['SFR', '₹199'], ['SFR', '₹299'], ['RapidBox', '₹580'], ['aadi', '₹359'], ['BRUTON', '₹299'], ['Shozie', '₹419'], ['Lavista', '₹569'], ['BRUTON', '₹581'], ['SFR', '₹269'], ['Magnolia', '₹389'], ['Mast & Harbour', '₹824'], ['SCATCHITE', '₹360'], ['Kraasa', '₹299'], ['Rzisbo', '₹549'], ['asian', '₹842'], ['TR', '₹499'], ['Asian Shoes', '₹449'], ['Bond Street By Red Tape', '₹1,324'], ['U.S. POLO ASSN.', '₹1,359'], ['Kraasa', '₹449'], ['SFR', '₹299'], ['World Wear Footwear', '₹259'], ['U.S. POLO ASSN.', '₹1,739'], ['Labbin', '₹399'], ['Robbie jones', '₹439'], ['GVR', '₹597'], ['CAMPUS', '₹1,899'], ['asian', '₹657'], ['TR', '₹299'], ['Deals4you', '₹299'], ['U.S. POLO ASSN.', '₹1,934'], ['HOTSTYLE', '₹298'], ['NIKE', '₹3,707'], ['PUMA', '₹1,919'], ['PUMA', '₹3,499']]

In [47]:
pd.DataFrame(element_list)

                   0       1
0               ANTA  ₹4,509
1           RapidBox    ₹599
2             Labbin    ₹399
3             Shozie    ₹299
4             Kzaara    ₹229
..               ...     ...
115  U.S. POLO ASSN.  ₹1,934
116         HOTSTYLE    ₹298
117             NIKE  ₹3,707
118             PUMA  ₹1,919
119             PUMA  ₹3,499

[120 rows x 2 columns]

In [29]:
   for i in range(len(brand)):
        element_list.append([brand[i].text, price[i].text])
print(element_list)        
driver.close()

[['ANTA', 'A-Shock Sneakers For Men', '₹4,509'], ['RapidBox', 'RapidBox Men Shoes Sneakers For Men', '₹599'], ['Labbin', 'Sneakers For Men', '₹399'], ['Shozie', 'Sneakers For Men', '₹299'], ['Kzaara', 'Sneakers For Men', '₹229'], ['SFR', 'PLANCK Smart Grey Lace-Ups Casuals Sneakers Sneakers Fo...', '₹199'], ['SFR', 'FAST Trenddy Tainer Lace-ups Sporty Casuals Sneakers Fo...', '₹299'], ['RapidBox', 'Stylish & Trendy Sneakers For Men', '₹580'], ['aadi', 'Mesh | Ultralightweight | Comfortable | Breathable Walk...', '₹359'], ['BRUTON', 'Modern Trendy Sneakers Shoes Sneakers For Men', '₹299'], ['Lavista', 'Unique & Perfect Collection of Fashionable Walking Part...', '₹569'], ['Mast & Harbour', 'Sneakers For Men', '₹824'], ['Shozie', 'Sneakers For Men', '₹419'], ['BRUTON', '2 Combo Sneaker Shoes Sneakers For Men', '₹581'], ['SFR', 'Sneakers For Men', '₹269'], ['Magnolia', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', '₹389'], ['asian', 'Jasper-02 Black Sneakers,Loafers,Casuals,Walking Stylis...', '₹842'], ['U.S. POLO ASSN.', 'BRENTT 2.0 Sneakers For Men', '₹1,359'], ['SCATCHITE', 'Sneakers Sneakers For Men', '₹360'], ['Kraasa', 'Sneakers For Women', '₹299'], ['U.S. POLO ASSN.', 'CLARKIN Sneakers For Men', '₹1,739'], ['CAMPUS', 'Sneakers For Men', '₹1,899'], ['Rzisbo', 'Sneakers For Men', '₹549'], ['TR', 'Future-04 casual shoes for men | Latest Stylish Casual ...', '₹499'], ['Asian Shoes', 'High Top Sneakers For Men', '₹449'], ['Bond Street By Red Tape', 'LEBRON 3.0 Sneakers For Men', '₹1,324'], ['U.S. POLO ASSN.', 'BMW MMS Neo Cat Sneakers For Men', '₹1,934'], ['PUMA', 'Casuals, Canvas, Partywear Sneakers For Men', '₹3,499'], ['Kraasa', '2003 Trenddy Fashion Sporty Casuals Sneakers Running Sh...', '₹449'], ['SFR', 'BRENTT 2.0 Sneakers For Men', '₹299'], ['U.S. POLO ASSN.', 'PU Upper Casual Sneakers For Walking,Running,Gym For Me...', '₹1,529'], ['Cipramo Sports', 'Exclusive Affordable Collection of Trendy & Stylish Cas...', '₹854'], ['World Wear Footwear', 'Casual Sneakers White Shoes For Boys And Men Sneakers F...', '₹259'], ['Labbin', 'Sneakers For Men', '₹399'], ['Robbie jones', 'Sneakers For Men', '₹439'], ['GVR', 'LEBRON 3.0 Sneakers For Men', '₹597'], ['U.S. POLO ASSN.', 'OXLEY 2.0 Sneakers For Men', '₹1,934'], ['U.S. POLO ASSN.', 'WATERPROOF-05cFULLWHITE Sneakers For Men', '₹2,069'], ['asian', 'Sneakers For Men', '₹657'], ['ANTA', '₹4,509'], ['RapidBox', '₹599'], ['Labbin', '₹399'], ['Shozie', '₹299'], ['Kzaara', '₹229'], ['SFR', '₹199'], ['SFR', '₹299'], ['RapidBox', '₹580'], ['aadi', '₹359'], ['BRUTON', '₹299'], ['Lavista', '₹569'], ['Mast & Harbour', '₹824'], ['Shozie', '₹419'], ['BRUTON', '₹581'], ['SFR', '₹269'], ['Magnolia', '₹389'], ['asian', '₹842'], ['U.S. POLO ASSN.', '₹1,359'], ['SCATCHITE', '₹360'], ['Kraasa', '₹299'], ['U.S. POLO ASSN.', '₹1,739'], ['CAMPUS', '₹1,899'], ['Rzisbo', '₹549'], ['TR', '₹499'], ['Asian Shoes', '₹449'], ['Bond Street By Red Tape', '₹1,324'], ['U.S. POLO ASSN.', '₹1,934'], ['PUMA', '₹3,499'], ['Kraasa', '₹449'], ['SFR', '₹299'], ['U.S. POLO ASSN.', '₹1,529'], ['Cipramo Sports', '₹854'], ['World Wear Footwear', '₹259'], ['Labbin', '₹399'], ['Robbie jones', '₹439'], ['GVR', '₹597'], ['U.S. POLO ASSN.', '₹1,934'], ['U.S. POLO ASSN.', '₹2,069'], ['asian', '₹657'], ['TR', '₹299']]

In [33]:
pd.DataFrame(element_list)

                  0                                    1       2
0              ANTA             A-Shock Sneakers For Men  ₹4,509
1          RapidBox  RapidBox Men Shoes Sneakers For Men    ₹599
2            Labbin                     Sneakers For Men    ₹399
3            Shozie                     Sneakers For Men    ₹299
4            Kzaara                     Sneakers For Men    ₹229
..              ...                                  ...     ...
74              GVR                                 ₹597    None
75  U.S. POLO ASSN.                               ₹1,934    None
76  U.S. POLO ASSN.                               ₹2,069    None
77            asian                                 ₹657    None
78               TR                                 ₹299    None

[79 rows x 3 columns]